.area .cont, .area .node {
	margin-top: 0;
	margin-bottom: 0;
	border-width: 0!important;
	position: relative;
}
.area .node>.wrapper1 {
	z-index: 1;
	position: relative;
}
.node32 > .wrapper1 {
	color: #FFF;
}
.area .node>.wrapper1>.wrapper2 {
	z-index: 1;
	position: relative;
}
.node32 > .wrapper1 > .wrapper2 {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
.widget-grid .grid.paddings-20px {
	margin-left: -10px;
	margin-right: -10px;
}
.widget-grid .grid>.gridwrap {
	clear: both;
	display: table;
	table-layout: fixed;
	width: 100%;
	position: relative;
}
.widget-grid .grid>.gridwrap:after, .widget-grid .grid>.gridwrap:before {
	content: " ";
	display: table;
}
.widget-grid .grid.paddings-20px>.gridwrap>.col {
	padding: 0 10px;
}
.widget-grid .grid.valign-middle>.gridwrap>.col {
	vertical-align: middle;
}
.widget-grid .grid>.gridwrap>.col {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: table-cell;
	padding: 0 10px;
	vertical-align: top;
	position: relative;
}
.widget-grid .grid>.gridwrap>.col>.cont {
	min-height: 10px;
}
.area .cont, .area .node {
	margin-top: 0;
	margin-bottom: 0;
	border-width: 0!important;
	position: relative;
}
.area .node>.wrapper1 {
	z-index: 1;
	position: relative;
}
.area .node>.wrapper1>.wrapper2 {
	z-index: 1;
	position: relative;
}
.area .cont {
	min-height: 2px;
}
.node34 > .wrapper1 > .wrapper2 {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 15px;
}
.area p {
	color: inherit;
	line-height: 1.4;
	word-wrap: break-word;
	margin: 0;
}

.node33 > .wrapper1 {
	background-color: rgba(255, 255, 255, 0.99);
	color: #333;
	box-shadow: 0px 2px 13px 1px rgba(0, 0, 0, 0.56);
}
.node33 > .wrapper1 > .wrapper2 {
	padding-top: 33px;
	padding-right: 27px;
	padding-bottom: 33px;
	padding-left: 27px;
}
.macros-button .btn input[type=submit] {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	opacity: 0;
}
.area input {
	outline: 0!important;
}
#uid15 {
	background-color: rgb(76, 175, 80);
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-style: solid;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-color: rgb(61, 140, 64);
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 39px;
	padding-right: 39px;
	font-size: 16px;
	color: rgb(255, 255, 255);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}
.macros-button .btn {
	width: 100%;
	display: block;
	outline: 0!important;
	box-shadow: none;
	position: relative;
	border-width: 0;
	overflow: hidden;
	white-space: normal;
	word-wrap: break-word;
	transition-property: box-shadow,transform,color,background-color,border-color!important;
	transition-timing-function: cubic-bezier(.2,1,.3,1);
}
.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.macros-form>.outer>.inner>.horizontal>.body .agreement-checkbox label span {
    padding-left: 20px;
    display: inline-block;
}
.macros-form>.outer>.inner>.horizontal>.body .agreement-checkbox label {
    font-weight: 400;
    margin-bottom: 0;
}
.macros-form>.outer>.inner>.horizontal>.body .agreement-checkbox {
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
}
.node35 > .wrapper1 .agreement-checkbox {
    color: #333;
}
.node0 > .wrapper1 {
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFF;
}
.area.font-text-opensans {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.macros-form>.outer>.inner>.horizontal>.body .agreement-checkbox label input {
    position: absolute;
}
.area input {
    outline: 0!important;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    line-height: normal;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.node.node32.widget.widget-grid {
	margin-top:20px !important;
	margin-bottom: 20px !important;
}